<!doctype html>
<html lang="da">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,900|Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <script type='text/javascript' src='/script.js'></script>
    </head>
    <body>
