{{> head}}


    {{> header}}
<!--
<nav class='nav'>
    <ul class='txt--small'>
        <li class='txt--xlarge'>Kunder</li>
        <li>Alle</li>
        <li>Nye</li>
        <li>Mislykkede logins</li>
        <li>Opret kunde</li>
    </ul>
</nav>-->

<div class='row row--inverse row--full-height'>
    <header class='row'>
        <div class='col-2 col--center no-border'>
            <h4 class='dripicons-menu no-margin icon--txt' onclick='toggleExampleNav()'>Nye kunder</h4>
            <nav id='nav'>
                <h4 class='dripicons-menu no-margin icon--txt' onclick='closeExamples()'>Vælg tabel</h4>
                <ul>
                    <i class='dripicons-user-group icon--header icon--txt txt--medium'>Kunder</i>
                        <li>Alle kunder</li>
                        <li class='active'>Nye kunder</li>
                        <li>Opret ny</li>
                    <i class='dripicons-network-3 icon--header icon--txt txt--medium'>Fonde</i>
                        <li>Alle fonde</li>
                        <li>Statistik</li>
                        <li>Opret ny</li>
                    <i class='dripicons-swap icon--header icon--txt txt--medium'>Transaktioner</i>
                        <li>Alle transaktioner</li>
                    <i class='dripicons-card icon--header icon--txt txt--medium'>Overførsler</i>
                        <li>Alle overførsler</li>
                    <i class='dripicons-meter icon--header icon--txt txt--medium'>Statistik</i>
                        <li>Login-forsøg</li>
                        <li>Indstillinger</li>
                </ul>
            </nav>
        </div>
        <div class='col-8 no-border col--fill' style='padding:10px;'>
            <div class='search'>
                <label for='search'><i class='dripicons-search icon--txt txt--medium'>Søg:</i></label>
                <div class='search__labels'>
                    <div class='search__label'>name:</div>
                    <input id='search' type='text' value='Ashton' accesskey="U">
                </div>
            </div>
        </div>
        <div class='col-2 col--center col--right no-border'>
            <i class='dripicons-gear icon--txt txt--medium'>Indstillinger</i>
            <i class='dripicons-exit icon--txt txt--medium'>Log ud</i>
        </div>
    </header>
    <div class='row bg--white row--full-height'>
        <div class='col-2'>
            <h4>Filtre</h4>
            <i class='dripicons-calendar icon--header icon--txt txt--medium'>Oprettelsesperiode</i>
            <div class='input--dateRange' onclick='toggleExamplePopup2()'>
                <div class='input--dateRange__input'>20/12/2016</div>
                <i class='input--dateRange__to dripicons-arrow-thin-right txt--medium'></i>
                <div class='input--dateRange__input'>07/02/2017</div>
            </div>

            <div class='divider--hzt'></div>

            <h4>Kolonner</h4>
            <div class='row--small'>
                <div class='col-1'>
                    <input type='text'></input>
                </div>
            </div>
            <div class='row--small'>
                <div class='col-1'><input class='error' type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
            </div>
            <div class='row--small'>
                <div class='col-1'><input type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
            </div>
            <div class='row--small'>
                <div class='col-1'><input type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
                <div class='col-1'><input type='text'></input></div>
            </div>

        </div>
        <div class='overflow--scroll col-8 col--fill no-pad'>
            <table class='table--large'>
                <tr class='thead'>
            		<th>Name</th>
            		<th>Position</th>
            		<th>Office</th>
            		<th>Age</th>
            		<th>Start date</th>
            		<th>Salary</th>
            	</tr>
                <tr onclick='toggleExamplePopup()'>
            		<td>Michael Bodenheimer</td>
            		<td>Accountant</td>
            		<td>Tokyo</td>
            		<td>33</td>
            		<td>2008/11/28</td>
            		<td>$162,700</td>
            	</tr><tr>
            		<td>Angelica Ramos</td>
            		<td>Chief Executive Officer (CEO)</td>
            		<td>London</td>
            		<td>47</td>
            		<td>2009/10/09</td>
            		<td>$1,200,000</td>
            	</tr><tr>
            		<td>Ashton Cox</td>
            		<td>Junior Technical Author</td>
            		<td>San Francisco</td>
            		<td>66</td>
            		<td>2009/01/12</td>
            		<td>$86,000</td>
            	</tr><tr>
            		<td>Bradley Greer</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>41</td>
            		<td>2012/10/13</td>
            		<td>$132,000</td>
            	</tr><tr>
            		<td>Brenden Wagner</td>
            		<td>Software Engineer</td>
            		<td>San Francisco</td>
            		<td>28</td>
            		<td>2011/06/07</td>
            		<td>$206,850</td>
            	</tr><tr>
            		<td>Brielle Williamson</td>
            		<td>Integration Specialist</td>
            		<td>New York</td>
            		<td>61</td>
            		<td>2012/12/02</td>
            		<td>$372,000</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Caesar Vance</td>
            		<td>Pre-Sales Support</td>
            		<td>New York</td>
            		<td>21</td>
            		<td>2011/12/12</td>
            		<td>$106,450</td>
            	</tr>
                <tr>
            		<td>Airi Satou</td>
            		<td>Accountant</td>
            		<td>Tokyo</td>
            		<td>33</td>
            		<td>2008/11/28</td>
            		<td>$162,700</td>
            	</tr><tr>
            		<td>Angelica Ramos</td>
            		<td>Chief Executive Officer (CEO)</td>
            		<td>London</td>
            		<td>47</td>
            		<td>2009/10/09</td>
            		<td>$1,200,000</td>
            	</tr><tr>
            		<td>Ashton Cox</td>
            		<td>Junior Technical Author</td>
            		<td>San Francisco</td>
            		<td>66</td>
            		<td>2009/01/12</td>
            		<td>$86,000</td>
            	</tr><tr>
            		<td>Bradley Greer</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>41</td>
            		<td>2012/10/13</td>
            		<td>$132,000</td>
            	</tr><tr>
            		<td>Brenden Wagner</td>
            		<td>Software Engineer</td>
            		<td>San Francisco</td>
            		<td>28</td>
            		<td>2011/06/07</td>
            		<td>$206,850</td>
            	</tr><tr class='selected'>
            		<td>Brielle Williamson</td>
            		<td>Integration Specialist</td>
            		<td>New York</td>
            		<td>61</td>
            		<td>2012/12/02</td>
            		<td>$372,000</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr><tr>
            		<td>Bruno Nash</td>
            		<td>Software Engineer</td>
            		<td>London</td>
            		<td>38</td>
            		<td>2011/05/03</td>
            		<td>$163,500</td>
            	</tr>
            </table>
        </div>
        <div class='col-2'>
            <h4><b>1</b> valgt</h4>
            <span>ID: 23198</span>
            <h3>Brielle Williamson</h3>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-expand icon--txt txt--medium'>Åben vindue</i>
            </div>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-card icon--txt txt--medium'>Se overførsler</i>
            </div>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-message icon--txt txt--medium'>Send besked</i>
            </div>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-checkmark icon--txt txt--medium'>Godkend</i>
            </div>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-wrong icon--txt txt--medium'>Spær adgang</i>
            </div>
            <div class='row row--inner--small clickable'>
                <i class='dripicons-trash icon--txt txt--medium'>Slet kunde</i>
            </div>
        </div>
    </div>
</div>

<div id='popup-2' class='popup'>
    <h3 class='txt--center'>Vælg periode</h3>
    <div class='calendar'>
        <div class='row'>
            <button class='bg--blue'>I dag</button>
            <button class='bg--blue'>1 uge</button>
            <button class='bg--blue'>1 måned</button>
            <button class='bg--blue'>ÅTD</button>
            <button class='bg--blue'>1 år</button>
        </div>
    </div>
    <div class='row row--center'>
        <button class='bg--blue btn--large'>Opdater</button>
    </div>
</div>

<div id='popup' class='popup popup--page'>
    <div class='row row--center no-border'>
        <div class='col col--right col--center'>
            <div class='hotkey'><div class='hotkey__key dripicons-arrow-thin-left'></div><div class='hotkey__desc'>Forrige kunde</div></div>
            <div class='hotkey'><div class='hotkey__key dripicons-arrow-thin-right'></div><div class='hotkey__desc'>Næste kunde</div></div>
            <div class='hotkey'><div class='hotkey__key'>esc</div><div class='hotkey__desc'>Luk</div></div>
            <div class='hotkey'><div class='hotkey__key'>alt+R</div><div class='hotkey__desc'>Genopfrisk</div></div>
            <i class='dripicons-cross txt--xlarge' onclick='closeExamples()'></i>
        </div>
    </div>
    <div class='row row--center no-border'>
        <div class='col no-border'>
            <span class='hint txt--medium'>ID 231283</span>
            <h2 class='no-margin'>Michael Bodenheimer</h2>
        </div>
    </div>
    <div class='row row--center no-border'>
        <div class='col no-border'>
            <div class='menu'>
                <div class='menu__item'>Oversigt</div>
                <div class='menu__item'>Konti</div>
                <div class='menu__item'>Transaktioner</div>
                <div class='menu__item'>Beholdning</div>
                <div class='menu__item'>Skatterapport</div>
                <div class='menu__item'>Login-historik</div>
                <div class='menu__item'>Beskeder</div>
                <div class='menu__item'>Noter</div>
                <div class='menu__item menu__item--active'>Godkendelse</div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-6'>
            <img onclick='rotateImg(this)' src='http://polennu.dk/sites/default/files/mossad-agent.jpg'>
        </div>
        <div class='col-6'>
            <img onclick='rotateImg(this)' src='http://www.mors.dk/media/1790/sundhedskort_tilpasset.jpg?width=561&height=298.349159248269'>
        </div>
    </div>

    <div class='row'>
        <div class='col-6 col--center'>
            <button class='btn--large bg--green btn--loading'>Gemmer liste</button>
            <button class='bg--blue btn--icon dripicons-checkmark'>Opdateret</button>
            <button class='bg--blue'>Se alle</button>
            <button class='bg--blue btn--disabled'>Se alle</button>
        </div>
    </div>

</div>
<div id='overlay' class='overlay' onclick='closeExamples()'></div>
