.bg {
    &--grey { background-color: $grey !important; }
    &--white { background-color: white !important; }
    &--green { background-color: $green !important; }
    &--blue { background-color: $blue !important; }
    &--red { background-color: $red !important; }
}
