* {
    box-sizing: border-box;
}
body, html {
    background: $grey;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    box-shadow: $shadow-1;
}

table {
    background: white;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;

    td, th {
        padding: 16px 20px;
        border-bottom: 1px solid rgba(0,0,0,0.06);
        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
    }
    td {
        font-size: $txt-size-normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    tr {
        &:hover {
            background: rgba(0,0,0,0.06) !important;
            cursor: pointer;
        }
        &.selected {
            background: $green !important;
            color: white !important;
        }
    }
    tr {
        &:nth-child(2n) {
            background: rgba(0,0,0,0.02);
        }
    }
}

.overflow {
    &--none {
        overflow: hidden;
    }
    &--scroll {
        overflow: auto;
    }
}



.list--horizontal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin: 0;
    }
}

.search {
    background: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    display: inline-block;
    input {
        border: 0;
    }
}



input {
    background: white;
    border: $border;
    width: 100%;
    transition: box-shadow $transition;

    &:focus {
        outline: 0;
        box-shadow: $shadow-2;
        border-color: white;
    }
}


.divider {
    &--hzt {
        width: 100%;
        background: $grey-darker;
        height: 1px;
        margin: 40px 0;
    }
    &--vrt {
        height: 100%;
        background: $grey-darker;
        width: 1px;
        margin: 0 30px;
    }
}



.search {
    &__tag {
        padding: 0.5em 1em;
        background: none;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        margin: 0 .5em .5em 0;
        font-weight: bold;
        font-size: $txt-size-normal;

        &:hover {
            background: $grey;
        }
        &--selected {
            display: flex;
            margin-bottom: 10px;
            &__name {
                background: $blue;
                color: white;
                padding: 0.75em 1em;
            }
            input {
                border: 2px solid $blue;
                border-left: 0;
                padding: 0 1em;
            }
        }
    }

}
.expanded {
    transition: all $transition;
    width: 320px;
    position: fixed;
    right: 0;
    background: white;

    &:hover {
        position: fixed;
        width: 1200px;
        box-shadow: 10px 10px 100px rgba(0,0,0,0.1);

    }
}

.overlay {
    background: rgba(0,0,0,0.2);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100
}

.popup {
    min-height: 300px;
    min-width: 500px;
    background: white;
    position: fixed;
    z-index: 101;
    top: 0;
    padding: 50px 30px;
    box-shadow: $shadow-1;

    &--page {
        width: 1280px;
        left: 50%;
        margin-left: -640px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 0);
    }
}


.menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    overflow-x: auto;
    &__item {
        font-size: $txt-size-medium;
        white-space: nowrap;
        color: $grey-lighter-blue;
        padding: 10px 15px;
        margin-right: 10px;
        transition: all $transition;
        &:hover {
            background: $grey-lighter;
            cursor: pointer;
            color: $grey-darker-blue;
        }
        &--active {
            border-bottom: 2px solid $blue;
            color: $blue;
        }
    }
}
