* {
    box-sizing: border-box;
}
body, html {
    background: $grey;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    box-shadow: $shadow-1;
}

table {
    background: white;
    width: 100%;
    height: 500px;
    overflow: scroll;
    border-collapse: collapse;

    td, th {
        padding: 16px 20px;
        border-bottom: 1px solid rgba(0,0,0,0.062);
        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
    }
    td {

    }
    tr {
        &:hover {
            background: rgba(0,0,0,0.06) !important;
            cursor: pointer;
        }
        &.selected {
            background: $green !important;
            color: white !important;
        }
    }
    tr {
        &:nth-child(2n) {
            background: rgba(0,0,0,0.02);
        }
    }
}

.no-overflow {
    overflow: hidden;
    &--scroll {
        overflow: scroll;
    }
}



.list--horizontal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin: 0;
    }
}

.search {
    background: white;
    border: 1px solid #d9d9d9;
    display: inline-block;
    input {
        border: 0;
        padding: 12px 20px;
        font-size: 22px;
    }
}



input {
    background: white;
    border: $border;
    width: 100%;
    transition: box-shadow $transition;

    &:focus {
        outline: 0;
        box-shadow: $shadow-2;
        border-color: white;
        border-bottom: 2px solid $green;
    }
}




.search {
    &__tag {
        padding: 0.5em 1em;
        background: none;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        margin: 0 .5em .5em 0;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            background: $grey;
        }
        &--selected {
            display: flex;
            margin-bottom: 10px;
            &__name {
                background: $blue;
                color: white;
                padding: 0.75em 1em;
            }
            input {
                border: 2px solid $blue;
                border-left: 0;
                padding: 0 1em;
            }
        }
    }

}
