// Circular font
@font-face {
    font-family: 'Circular Std';
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot");
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot?#") format("eot"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-f016908d84431f0566776240dc8652fc.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-a81fe8415c30ad3049cfb08d3623587d.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-43e1d462e585f16e90b5d27423fc5d8b.svg") format("svg");
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-style: normal
}
@font-face {
    font-family: 'Circular Std';
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot");
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot?#") format("eot"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-4909b413294f9048153d6dee23438b24.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg") format("svg");
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-style: italic
}
@font-face {
    font-family: 'Circular Std';
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot");
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot?#") format("eot"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-c6b068854263ae24ccc36a2b944d7017.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-0dba9a8cc666f696e92eff76a5d753f1.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-9ae13155a0bad6697556e3713a89795b.svg") format("svg");
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-style: normal
}
@font-face {
    font-family: 'Circular Std';
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot");
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot?#") format("eot"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-328fc4c742a91de3477978911e384410.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-f76c67e53b97895a8f31fc8f0246ab7f.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-d1ee89419dc527be163d0151af5b087e.svg") format("svg");
    font-weight: 200;
    text-rendering: optimizeLegibility;
    font-style: normal;
}@charset "UTF-8";







$txt-size-small: 12px;
$txt-size-normal: 14px;
$txt-size-medium: 18px;
$txt-size-large: 22px;
$txt-size-xlarge: 28px;
$txt-size-xxlarge: 36px;



html {
   font-family: 'Circular Std', sans-serif;
   color: rgba(0,0,0,0.75);
}


h1,h2,h3,h4,h5,p,q {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    color: $grey-darker-blue;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}


h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 22px;
    font-weight: 500;
}
h2 {
    font-size: $txt-size-xxlarge;
    line-height: 1.333;
    letter-spacing: -1.25px;
    font-weight: 500;
}
h3 {
    font-size: $txt-size-xlarge;
    line-height: 1.375;
    letter-spacing: -1px;
    font-weight: 500;
}
h4 {
    font-size: $txt-size-large;
    line-height: 1.5;
    letter-spacing: -.25px;
    font-weight: 400;
}
h5 {
    font-size: $txt-size-medium;
    line-height: 1.5;
    letter-spacing: -.25px;
    font-weight: 400;
}
p {
    font-size: $txt-size-medium;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: -.25px;
    color: $grey-lighter-blue;
    opacity: 0.87;
    @include on(mobile){
        font-size: 16px;
    }
}
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



.txt {
    &--center {
        display: block;
        text-align: center;
    }
    &--nowrap {
        white-space: nowrap;
    }
    &-r {
        display: block;
        text-align: right;
    }
    &--white {
        color: white;
    }
    &--dark-grey {
        color: #404758 !important;
    }
    &--light-grey {
        color: #626677 !important;
    }
    &--hint {
        opacity: 0.62;
    }
    &--alert {
        color: md(Red);
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        &:before {
            font-family: 'Dripicons-v2';
            content: '';
            font-size: 1.2em;
            margin-right: 0.62em;
            line-height: 1;
        }
    }
    &--xsmall, &--small {
        line-height: 1.8;
        margin-bottom: 20px;
        margin-top: 0;
        letter-spacing: -.25px;
    }
    &--small {
        font-size: $txt-size-small;
    }
    &--medium {
        font-size: $txt-size-medium;
    }
    &--normal {
        font-size: $txt-size-normal;
    }
    &--large {
        font-size: $txt-size-large;
    }
    &--xlarge {
        font-size: $txt-size-xlarge;
    }
    &--xxlarge {
        font-size: $txt-size-xxlarge;
    }
}

.no-margin {
    margin: 0;
}

// ICONS
i {
    font-size: 24px;
    font-style: normal;
    display: inline-flex;

    &.icon-S {
        font-size: 18px;
    }
    &.icon-M {
        font-size: 32px;
    }
    &.icon-L {
        font-size: 48px;
    }
    &.icon-XL {
        font-size: 64px;
    }
}




.btn {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.hotkey {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    &:last-child {
        margin: 0;
    }
    &__key {
        background: $grey;
        color: rgba(0,0,0,0.4);
        padding: 0.25em;
        min-width: 2em;
        border: $border;
        font-size: $txt-size-normal;
        font-weight: bold;
        border-width: 2px;
        text-align: center;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .25em;
        line-height: 1;
        min-height: 2em;
        &:before {
            font-size: 1.2em;
        }
    }
    &__desc {
        font-size: $txt-size-normal;
        margin-left: 0.5em;
        opacity: 0.5;
    }
}


.icon {
    &--txt {
        display: inline-flex;
        align-items: center;
        margin-right: 1.5em;
        white-space: pre;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            margin-right: .5em;
        }
    }
    &--small {
        font-size: $txt-size-medium;
    }
    &--header {
        border-bottom: $border;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        padding: 0.5em 0;
        width: 100%;
    }
    &--list {
        margin-top: 0.5em;
    }
}

.hint {
    opacity: 0.33;
}
